*{
    margin: 0;
    padding: 0;
}

body{
    background: #79C7C5;
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container .title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 9px 4px #000;
    color: #EFE7DA;
    text-align: center;

}

.container .cuerpo-calculadora{
    width: 500px;
    height: 500px;
    background-color: #aaaaaa;
    border-radius:10px;
    box-shadow: 2px 1px 29px 6px rgba(0,0,0, 0.3);
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .cuerpo-calculadora .screen{
    background-color: #414141;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.container .cuerpo-calculadora .screen > input{
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    font-size: 40px;
    color: #c5573f;
}

.container .cuerpo-calculadora .btn-calc{
    width: 22%;
    height: 19%;
    background-color: khaki;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.container .cuerpo-calculadora .btn-calc > input{
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    font-size: 40px;
    color: #C73E1D;
}

.container .cuerpo-calculadora .btn-calc input:hover{
    transition-duration: 0.4s;
    background: #ffb497;
    color: white;
}

.container .cuerpo-calculadora .btn-calc > .equal{
    background:#fffb88;
}

.container .cuerpo-calculadora .btn-calc > .clean{
    background:#98f8ab;
}


 /*
width: 22%;
    display: flex;
    justify-content: center;
    flex-direction: column;


.container .cuerpo-calculadora{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container .row .cuerpo a{
    width: 35%;
    display: block;
    background: #F5CDA7;
}
*/